Hallo,

hier eine summary der letzten {{days}} Tage.


Erledigte Tickets:
-----------------
{% if tickets['closed'] %}
{% for ticket in tickets['closed'] %}
* {{ticket['created_on']}} - {{ticket['title']}}
{% endfor %}
{% elif tickets['open'] %}
  Es wurden keine Tickets in den letzten {{days}} geschlossen, obwohl noch
  {{length(tickets['open'])}} Tickets offen sind.
{% else %}
  Es wurden keine Tickets geschlossen, da es keine verbleidenden offenen 
  Tickets gibt
{% endif %}

Offene Tickets:
-----------------
{% if tickets['open'] %}
{% for ticket in tickets['open'] %}
* {{ticket['closed_on']}} {{ticket['title']}}
{% endfor %}
{% else %}
  Zur Zeit gibt es keine offenen Tickets! WoW!
{% endif %}

