
{% for tracker in issues.iterkeys()|sort %}
== {{tracker}} ==
{|class="wikitable sortable" style="width:100%"
! title
! author
! assignee
! status
! created
! updated
{% for issue in issues[tracker] %}
|-
| [https://redmine.hackerspace-bamberg.de/issues/{{issue['id']}} {{issue['subject']}}]
| [[Benutzer:{{issue['author']['name']}}|{{issue['author']['name']}}]]
| {{issue['status']['name']}}
| {% if 'assigned_to' in issue %}[[Benutzer:{{issue['assigned_to']['name']}}|{{issue['assigned_to']['name']}}]]{% else %} &mdash; {% endif %}
| {{issue['created_on']|redminedate}}
| {{issue['updated_on']|redminedate}}
{%endfor%}
|}
{%endfor%}
