Hallo,

hier einen kleinen Überblick über unsere aktuellen Aufgaben im Space.


Neusten 3 offenen Tickets
-------------------------

{% for issue in issues|sort(attribute='created_on', reverse=True)
  if issue.status.name == 'new' and not issue.assigned_to -%}
* [{{issue.created_on[:10]}}] - #{{issue.id}} {{issue.subject}}
{%- if loop.index == 3 %}{% break %}{% endif %}
{% endfor %}


Ältesten 3 offenen Tickets
--------------------------

{% for issue in issues|sort(attribute='created_on', reverse=False)
  if issue.status.name == 'new' and not issue.assigned_to -%}
* [{{issue.created_on[:10]}}] - #{{issue.id}} {{issue.subject}}
{%- if loop.index == 3 %}{% break %}{% endif %}
{% endfor %}


Du willst mehr? Schau doch in unser Ticketsystem:

   https://redmine.hackerspace-bamberg.de


PS: Die folgende Mail ist automatisch generiert und auch ohne Unterschrift gültig.


